input{
    height: 10px;
    border: 0.5px solid lightgray;
    border-radius: 4px;
    padding: 2%;
}

.card{
    width: 60%; 
    margin-top: 5%; 
    margin-bottom: 5%; 
    padding: 5%;
}

.Btn{
    width: 25%;
}