<div fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="card">
        <div fxLayout="column" fxLayoutAlign="center center">
            <h2>Update User</h2>
        </div>
        <form fxLayout="column" fxLayoutGap="15px" autocomplete="off">
            <input matInput type="text" [(ngModel)]="currentUser.num" name="num" placeholder="Sr.No" readonly>
            <input matInput type="text" [(ngModel)]="currentUser.username" name="username" placeholder="username">
            <input matInput type="text" [(ngModel)]="currentUser.firstName" name="firstName" placeholder="first name">
            <input matInput type="text" [(ngModel)]="currentUser.lastName" name="lastName" placeholder="Last name">
            <input matInput type="text" [(ngModel)]="currentUser.age" name="age" placeholder="age">
            <input matInput type="text" [(ngModel)]="currentUser.salary" name="salary" placeholder="salary">
            <button class="Btn" (click)="updateUser()" mat-raised-button color="primary">Update</button>
        </form>
    </mat-card>
    
</div>