<div fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="card">
        <div fxLayout="column" fxLayoutAlign="center center">
            <h2>Add User</h2>
        </div>
        <form [formGroup]="userForm" fxLayout="column" fxLayoutGap="15px" autocomplete="off">
            <input matInput type="text" formControlName="num" name="num" placeholder="Sr.No" required>
            <input matInput type="text" formControlName="username" name="username" placeholder="username" required>
            <div fxLayout="row">
                <input class="passCls" matInput type="text" formControlName="password" name="password" placeholder="password"
                 [type]="hide ? 'password' : 'text'" required>
                <button class="visibilityIcon blue" mat-icon-button matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </div>
            <input matInput type="text" formControlName="firstName" name="firstName" placeholder="first name" required>
            <input matInput type="text" formControlName="lastName" name="lastName" placeholder="Last name" required>
            <input matInput type="text" formControlName="age" name="age" placeholder="age" required>
            <input matInput type="text" formControlName="salary" name="salary" placeholder="salary" required>
            <div fxLayout="column" fxLayoutGap="2px">
                <input matInput type="text" formControlName="cardNo" name="cardNo" placeholder="credit card Number"
                    required>
                <small>*Enter 16 number for credit card number</small>
            </div>
            <button class="Btn" (click)="addUser()" [disabled]="!userForm.valid" mat-raised-button color="primary"
               >Add</button>
        </form>
    </mat-card>

</div>